
services:
  neo4j:
    image: neo4j:5-community
    container_name: neo4j-local
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=${NEO4J_USER}/${NEO4J_PASSWORD}
      - NEO4J_PLUGINS=["apoc"]
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
      - neo4j_conf:/conf
    restart: unless-stopped

  api:
    # ⬇️ Cambiamos el build para usar la raíz como contexto y el Dockerfile dentro de Api/
    build:
      context: .
      dockerfile: Api/Dockerfile
    container_name: graphroutes-api
    depends_on:
      - neo4j
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=${NEO4J_USER}
      - NEO4J_PASS=${NEO4J_PASSWORD}   # mapeamos tu NEO4J_PASSWORD -> NEO4J_PASS
      - SERVER_PORT=${SERVER_PORT}
      - GRAPH_LABEL=${GRAPH_LABEL}
      - GRAPH_REL_TYPE=${GRAPH_REL_TYPE}
      - GRAPH_VISIBLE_PROP=${GRAPH_VISIBLE_PROP}

    ports:
      - "8080:8080"
    restart: unless-stopped

volumes:
  neo4j_data:
  neo4j_logs:
  neo4j_conf: